:root {
  /* Button colors */
  --btn-default-fgColor-rest: #f4f4f4;
  --btn-default-bgColor-rest: #050505;
  --btn-default-bgColor-hover: #eef1f4;
  --btn-default-bgColor-active: #e7ebef;
  --btn-default-bgColor-selected: #e7ebef;
  --btn-default-bgColor-disabled: #eaeef2b3;
  --btn-default-borderColor-rest: #d5dbe0;
  --btn-default-borderColor-hover: #d5dbe0;
  --btn-default-borderColor-active: #d5dbe0;
  --btn-default-borderColor-disabled: #eaeef2b3;
  --btn-default-shadow-resting: 0px 1px 0px 0px #1c20240a;
  --btn-primary-fgColor-rest: #ffffff;
  --btn-primary-fgColor-disabled: #ffffffcc;
  --btn-primary-iconColor-rest: #ffffffcc;
  --btn-primary-bgColor-rest: #023bb5;
  --btn-primary-bgColor-hover: #45496f;
  --btn-primary-bgColor-active: #3b3f62;
  --btn-primary-bgColor-disabled: #8e91af;
  --btn-primary-borderColor-rest: #1c202426;
  --btn-primary-borderColor-hover: #1c202426;
  --btn-primary-borderColor-active: #1c202426;
  --btn-primary-borderColor-disabled: #76a5ff;
  --btn-primary-shadow-selected: inset 0px 1px 0px 0px #002d114d;
  --btn-ghost-fgColor-rest: #1d1e28;
  --btn-ghost-fgColor-hover: #023bb5;
  --btn-ghost-fgColor-disabled: #8c959f;
  --btn-ghost-iconColor-rest: #5e656c;
  --btn-ghost-iconColor-hover: #5e656c;
  --btn-ghost-iconColor-disabled: #8c959f;
  --btn-ghost-bgColor-rest: #ffffff00;
  --btn-ghost-bgColor-hover: #d5dbe033;
  --btn-ghost-bgColor-active: #d5dbe066;
  --btn-ghost-bgColor-disabled: #eaeef2b3;
  --btn-ghost-borderColor-rest: #ffffff00;
  --btn-ghost-borderColor-hover: #ffffff00;
  --btn-ghost-borderColor-disabled: #eaeef2b3;
  --btn-outline-fgColor-rest: #1d1e28;
  --btn-outline-fgColor-hover: #ffffff;
  --btn-outline-fgColor-active: #ffffff;
  --btn-outline-fgColor-disabled: #004ef180;
  --btn-outline-bgColor-rest: transparent;
  --btn-outline-bgColor-hover: #023bb5;
  --btn-outline-bgColor-active: #0757ba;
  --btn-outline-bgColor-disabled: #f8f9fb;
  --btn-outline-borderColor-rest: #545989;
  --btn-outline-borderColor-hover: #1c202426;
  --btn-outline-borderColor-active: #1c202426;
  --btn-outline-shadow-selected: inset 0px 1px 0px 0px #00215533;
  --btn-danger-fgColor-rest: #d1242f;
  --btn-danger-fgColor-hover: #ffffff;
  --btn-danger-fgColor-active: #ffffff;
  --btn-danger-fgColor-disabled: #d1242f80;
  --btn-danger-iconColor-rest: #d1242f;
  --btn-danger-iconColor-hover: #ffffff;
  --btn-danger-bgColor-rest: #f8f9fb;
  --btn-danger-bgColor-hover: #a40e26;
  --btn-danger-bgColor-active: #8b0820;
  --btn-danger-bgColor-disabled: #eaeef2b3;
  --btn-danger-borderColor-rest: #d5dbe0;
  --btn-danger-borderColor-hover: #1c202426;
  --btn-danger-borderColor-active: #1c202426;
  --btn-danger-shadow-selected: inset 0px 1px 0px 0px #4c001433;
  --btn-inactive-fgColor: #57606a;
  --btn-inactive-bgColor: #eaeef2;

  /* Foreground colors */
  --fgColor-default: #1d1e28;
  --fgColor-muted: #5e656c;
  --fgColor-onEmphasis: #ffffff;
  --fgColor-white: #ffffff;
  --fgColor-black: #1c2024;
  --fgColor-disabled: #8c959f;
  --fgColor-link: #023bb5;
  --fgColor-inactive: #d5dbe0;
  --fgColor-neutral: #6e7781;
  --fgColor-accent: #023bb5;
  --fgColor-success: #1a7f37;
  --fgColor-success-dark: #027a48;
  --fgColor-attention: #9a6700;
  --fgColor-severe: #bc4c00;
  --fgColor-danger: #d1242f;
  --fgColor-warning: #cc8406;

  /* Background colors */
  --bgColor-default: #ffffff;
  --bgColor-muted: #f8f9fb;
  --bgColor-inset: #f8f9fb;
  --bgColor-emphasis: #24292f;
  --bgColor-inverse: #24292f;
  --bgColor-white: #ffffff;
  --bgColor-black: #1c2024;
  --bgColor-subtle: #efeff4;
  --bgColor-danger-light: #feefec;
  --bgColor-danger-dark: #de2500;
  --bgColor-disabled: #eaeef2b3;
  --bgColor-neutral-muted: #afb8c133;
  --bgColor-neutral-emphasis: #6e7781;
  --bgColor-accent-muted: #eaf2ff;
  --bgColor-accent-light: #f6f9ff;
  --bgColor-accent-purple: #553afe;
  --bgColor-accent-emphasis: #023bb5;
  --bgColor-success-muted: #dafbe1;
  --bgColor-success-emphasis: #1f883d;
  --bgColor-success-dark: #027a48;
  --bgColor-attention-muted: #fff8c5;
  --bgColor-attention-emphasis: #9a6700;
  --bgColor-severe-muted: #fff1e5;
  --bgColor-severe-emphasis: #bc4c00;
  --bgColor-danger-muted: #ffebe9;
  --bgColor-danger-emphasis: #cf222e;

  /* Border colors */
  --borderColor-default: #cccccc;
  --borderColor-muted: #d5dbe0b3;
  --borderColor-light-gray: #d0d5dd;
  --borderColor-emphasis: #6e7781;
  --borderColor-disabled: #eaeef2b3;
  --borderColor-transparent: #ffffff00;
  --borderColor-neutral-muted: #afb8c133;
  --borderColor-neutral-emphasis: #6e7781;
  --borderColor-accent-muted: #54aeff66;
  --borderColor-accent-emphasis: #545989;
  --borderColor-success-muted: #4ac26b66;
  --borderColor-success-emphasis: #1a7f37;
  --borderColor-success-dark: #027a48;
  --borderColor-attention-muted: #d4a72c66;
  --borderColor-attention-emphasis: #bf8700;
  --borderColor-severe-muted: #fb8f4466;
  --borderColor-severe-emphasis: #bc4c00;
  --borderColor-danger-muted: #ff818266;
  --borderColor-danger-emphasis: #cf222e;

  /* Control colors */
  --control-bgColor-rest: #f8f9fb;
  --control-bgColor-hover: #eef1f4;
  --control-bgColor-active: #e7ebef;
  --control-bgColor-disabled: #eaeef2b3;
  --control-bgColor-selected: #f8f9fb;
  --control-fgColor-rest: #1d1e28;
  --control-fgColor-placeholder: #6e7781;
  --control-fgColor-disabled: #8c959f;
  --control-borderColor-rest: #888787;
  --control-borderColor-emphasis: #868f99;
  --control-borderColor-disabled: #eaeef2b3;
  --control-borderColor-selected: #f8f9fb;
  --control-borderColor-success: #1a7f37;
  --control-borderColor-danger: #cf222e;
  --control-borderColor-warning: #bf8700;
  --control-iconColor-rest: #5e656c;
  --control-transparent-bgColor-rest: #ffffff00;
  --control-transparent-bgColor-hover: #d5dbe033;
  --control-transparent-bgColor-active: #d5dbe066;
  --control-transparent-bgColor-disabled: #eaeef2b3;
  --control-transparent-bgColor-selected: #d5dbe033;
  --control-transparent-borderColor-rest: #ffffff00;
  --control-transparent-borderColor-hover: #ffffff00;
  --control-transparent-borderColor-active: #ffffff00;
  --control-danger-fgColor-rest: #d1242f;
  --control-danger-fgColor-hover: #d1242f;
  --control-danger-bgColor-hover: #ffebe9;
  --control-danger-bgColor-active: #ffebe966;
  --control-checked-bgColor-rest: #023bb5;
  --control-checked-bgColor-hover: #0860ca;
  --control-checked-bgColor-active: #0757ba;
  --control-checked-bgColor-disabled: #8c959f;
  --control-checked-fgColor-rest: #ffffff;
  --control-checked-fgColor-disabled: #ffffff;
  --control-checked-borderColor-rest: #023bb5;
  --control-checked-borderColor-hover: #0860ca;
  --control-checked-borderColor-active: #0757ba;
  --control-checked-borderColor-disabled: #8c959f;

  /* Data colors */
  --data-blue-color: #023bb5;
  --data-blue-color-muted: #d1f0ff;
  --data-auburn-color: #9d615c;
  --data-auburn-color-muted: #f2e9e9;
  --data-orange-color: #eb670f;
  --data-orange-color-muted: #ffe7d1;
  --data-yellow-color: #b88700;
  --data-yellow-color-muted: #ffec9e;
  --data-green-color: #30a147;
  --data-green-color-muted: #caf7ca;
  --data-teal-color: #179b9b;
  --data-teal-color-muted: #c7f5ef;
  --data-purple-color: #894ceb;
  --data-purple-color-muted: #f1e5ff;
  --data-pink-color: #ce2c85;
  --data-pink-color-muted: #ffe5f1;
  --data-red-color: #df0c24;
  --data-red-color-muted: #ffe2e0;
  --data-gray-color: #808fa3;
  --data-gray-color-muted: #e8ecf2;
}
